body {
    background-color: #f0f8ff; /* Light background for the location page */
    font-family: 'Open Sans', sans-serif; /* Use the Google font */
}

h1 {
    margin-bottom: 30px;
    color: #007bff; /* Bootstrap primary color */
    font-weight: 600; /* Semi-bold for the heading */
}

.location-card {
    border: 1px solid #ddd; /* Optional: Add a border */
    padding: 20px; /* Add some padding */
    border-radius: 8px; /* Optional: Rounded corners */
    background-color: #fff; /* Background color */
    height: 300px; /* Fixed height */
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    justify-content: center; /* Center content vertically */
    align-items: center; /* Center content horizontally */
   
    
}

.location-card:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.location-logo {
    width: 80%; /* Adjust the percentage as needed */
    max-width: 200px; /* Optional: set a max width */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 10px; /* Space between image and title */
}